.frame{

    position: relative;
    display: block;
    
 
    background-image: url(./trava.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border: 6px solid violet;
}

.score {
    display: block;
    position: absolute;
    
    width: calc(100vw/100*20);
    height: calc(100vh/100*10);
    right: calc(100vw/100*5);
    top: calc(100vh/100*5);

    border: 6px solid violet;
    border-radius: 4px;
    color: violet;
    background-color: rgba(100, 100, 100, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: calc(100vw/100*4);
}

.data-start{

    display: block;

    background-color: transparent;
    background-image: url(./start-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 70px;
    border-color:transparent;
    border: none;

    cursor: pointer;
    color: red;
    text-shadow: 2px 2px 2px white;
}

.data-disabled {
   pointer-events: none;
   opacity: 0.5;
}

.data-stop{

    display: block;

    background-color: transparent;
    background-image: url(./stop-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    border-color:transparent;
    border: none;

    margin-top: 15px;

    cursor: pointer;
    color: red;
    text-shadow: 2px 2px 2px white;
}

.data-up {

    display: block;

    background-color: transparent;
    background-image: url(./up-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-color:transparent;
    border: none;

    margin-top: 15px;

    cursor: pointer;
    color: red;
    text-shadow: 2px 2px 2px white;
}

.data-down{

    display: block;

    background-color: transparent;
    background-image: url(./down-png.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-color:transparent;
    border: none;

    margin-top: 15px;

    cursor: pointer;
    color: red;
    text-shadow: 2px 2px 2px white;
}

.level{
   
    display: flex;
    width: calc(100vw/100*8);
    height: calc(100vh/100*6);
    align-items: center;
    justify-content: center;
  
    margin-top: 15px;

    border: 3px solid violet;
    border-radius: 4px;
    color: violet;
    background-color: rgba(100, 100, 100, 0.7);

    font-size: calc(100vw/100*3);

}

.buttons {

    position: absolute;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;

    right: calc(100vw/100*8);
    top: calc(100vh/100*20);
}

.dog{
    display: block;
    position: absolute;
    width: calc(100vw/100*17);
    height: calc(100vw/100*30);
    /* overflow: hidden; */
    cursor: pointer;
    background-image: url(./york.png);
    background-size: cover;
}

.dog2{
    display: block;
    position: absolute;
    width: calc(100vw/100*25);
    height: calc(100vw/100*20);
    /* overflow: hidden; */
    cursor: pointer;
    background-image: url(./miki.png);
    background-size: cover;
}

/* .dog:focus, .dog:hover {
    background-color: tomato;
} */

.dog_img {
    width: 100%;
}

.titleDog {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: calc(100vw/100*4);
    color: white;
    text-shadow: 2px 2px 2px whitesmoke;
}

.dogtype {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid white;
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(100, 100, 100, 0.7);
}
.dogtype::after{
    content: "";
    display: block;
    background-image: url(./reverse.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    width: 25px;
    height: 25px;
}